APP_SECRET=change-me
POSTGRES_DB=decision_engine
POSTGRES_USER=decision_engine
POSTGRES_PASSWORD=decision_engine
POSTGRES_PORT=5432
REDIS_PORT=6379
MERCURE_PORT=3001
API_PORT=8000
WEB_PORT=5173
MERCURE_JWT_SECRET=change-me
